body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    padding-top: 1.5%;
}

.logo img {
    max-width: 118px;
    width: 100%;
}

.right-wrapper a {
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 0.7em;
}

.language i {
    color: #696969;
}

.burger i {
    color: #696969;
}

.profile i {
    font-size: 2em;
    color: #696969;
}

h1 {
    font-size: 1.7em;
    font-weight: bold;
}

.main-info p {
    color: #696969;
    font-size: 0.8em;
}

strong {
    color: black;
}

.images-wrapper {
    height: 443px!important;
}

.main-image img {
    min-height: 443px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.small-images-wrapper {
    height: 100%;
}

.small-image {
    height: 50%;
}

.small-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-two img{
    border-top-right-radius: 20px;
}

.image-four img {
    border-bottom-right-radius: 20px;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
}

.host-info p {
    color: #696969;
}

.host-info a {
    text-decoration: none;
    color: #696969;
    font-weight: bold;
}

.general-info h5 {
    font-size: 1em;
    font-weight: bold;
}

.general-info p {
    color: #696969;
    font-size: 0.9em;
}

.general-info i {
    font-size: 1.5em;
}

.reservation-form {
    border-radius: 40px;
    min-height: 290px;
    height: fit-content;
    box-shadow: 10px 10px 40px #88888884;
    margin-right: 10%;
}

.reservation-form h5 {
    font-size: 1.5em;
    font-weight: 400;
    color: #696969;
    line-height: 150%;
}

.reservation-rate i {
    font-size: 0.7em;
    color: #FF385C;
}

.date-form input {
    color: #696969;
    border: 1px solid #696969;
}

.left-date-input {
    border-top-left-radius: 15px;
}

.left-date-input:active {
    border: 3px solid #FF385C;
}

.right-date-input {
    border-top-right-radius: 15px;
}

.guest-input {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.booking-btn {
    background-color: #FF385C;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.review-field {
    margin-bottom: 5%;
}

.profile-pic img {
    max-height: 60px
}

.profile-info h6 {
    font-weight: bold;
}

.profile-info p {
    color: #696969;
    font-size: 0.9em;
}

.review-text p {
    color: #696969;
}

@media screen and (max-width:600px){

    .images-wrapper {
        height: 850px!important;
        display: flex;
        align-items: center;
    }

    .main-image img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    
    .small-images-wrapper {
        height: 50%;
    }
    
    .small-image {
        height: 50%;
    }
    
    .small-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .image-two img{
        border-top-right-radius: 0px;
    }

    .image-three img {
        border-bottom-left-radius: 20px;
    }
    
    .image-four img {
        border-bottom-right-radius: 20px;
    }

    .reservation-form {
        margin-right: 0;
    }
}